<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Stenography</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="bootstrap.min.css" rel="stylesheet"/>
    <link href="bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="style.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<script type="text/javascript">
    function random_number() {
        var text_field = document.getElementById('random_number_field');
        var number = Math.floor(Math.random() * 1000000000);
        text_field.value = number.toString();
    }
    function loadImage(input) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();

        var imgtag = document.getElementById("myimage");
        imgtag.title = selectedFile.name;

        reader.onload = function(event) {
            var image = new Image;
            image.src = reader.result;
            imgtag.src = reader.result;
            if (image.width >= 500)
                imgtag.width='500';
            else
                imgtag.width=image.width;
        };
        reader.readAsDataURL(selectedFile);
    }
    function validate_form () {
        var crypto_text = document.getElementById('crypto_text');
        if (!crypto_text.value)
        {
            alert ( "Заполните поле с текстом послания для зашифровки." );
            return false;
        }
        var random_number_field = document.getElementById('random_number_field');
        var random_number = parseFloat(random_number_field.value);
        if (isNaN(random_number))
        {
            alert ( "Недопустимое число для шифрования." );
            return false;
        }
        var file_with_img = document.getElementById('file_with_img');
        if (!file_with_img.value)
        {
            alert ( "Файл с картинкой не выбран." );
            return false;
        }
        return true;
    }
</script>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" >Bro2Bro2Bro inc.</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Главная</a></li>
                    <li><a href="./comments.php">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Содержание</li>
                    <li>
                        <a href="/">Сервисы</a>
                        <ul>
                            <li><a href="/stenography.html">Stenography</a></li>
                            <li><a href="/">Photo filter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="center">
            </div>
        </div>



        <div class="span9">
            <ul class="breadcrumb">
                <li>
                    <a href="/">Сервисы</a> <span class="divider">/</span>
                </li>
                <li class="active">Stenography</li>
            </ul>
            <h1>Stenography</h1>
            <p>Сервис позволяет встраивать и извлекать сообщения, используя bmp-файлы</p>
            <ul>
                <li><a href="/stenography/coder.html">Coder</a></li>
                <li><a href="/stenography/decoder.html">Decoder</a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <p>&copy; bro2bro2bro 2016</p>
    </div>
</div>
</body>
<script>random_number()</script>
</html>